{{yield}}

{{#if condition}}
    {{#if condition.isFuncOr }}
        <div class="col-md-12 tree-group">
            <span>OR</span>
            <button class="btn btn-default btn-xs glyphicon glyphicon-plus" {{action "addAndCondition" condition}}></button>
            <ul class="list-tree">
                {{#each condition.conditions as |childCondition|}}
                    <li>
                        {{xacml-condition condition=childCondition parentCondition=condition}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{else if condition.isFuncAnd }}
        <div class="row">
            <div class="col-md-12">
                <span>AND</span>
                <button class="button btn btn-default btn-xs glyphicon glyphicon-plus" {{action "addOrCondition" condition}}></button>
                <button class="button btn btn-default btn-xs glyphicon glyphicon-minus" {{action "removeOrCondition" parentCondition condition}}></button>
                <ul class="list-tree">
                    <li>
                        {{#each condition.conditions as |childCondition|}}
                            {{xacml-condition condition=childCondition parentCondition=condition}}
                        {{/each}}
                    </li>
                </ul>
            </div>
        </div>
    {{else }}
        <div class="col-md-12 form-inline">
            {{#each condition.conditions as |condition|}}
                {{#if condition.attributeId}}
                    {{xacml-attributes value=condition.attributeId}}
                {{/if}}
            {{/each}}
            &nbsp;
            {{input value=condition.functionId class="form-control"}}
            &nbsp;
            {{#each condition.conditions as |condition|}}
                {{#if condition.value}}
                    {{input value=condition.value placeholder="Значение" class="form-control"}}
                {{/if}}
            {{/each}}
            <button class="button btn btn-default btn-xs glyphicon glyphicon-minus" {{action "removeMatch" parentCondition condition}}></button>
        </div>
    {{/if}}
{{/if}}