<tr>
    <td>{{policySet.id}}</td>
    <td>{{policySet.description}}</td>
    <td>
        <button type="button" class="button btn btn-default btn-xs glyphicon glyphicon-remove pull-right" {{action "removePolicySet" parent policySet}}></button>&nbsp;
        {{#link-to "policysets.edit" policySet class="button btn btn-default btn-xs glyphicon glyphicon-pencil pull-right"}}{{/link-to}}
        <button type="button" class="button btn btn-default btn-xs glyphicon glyphicon-eye-open pull-right" {{action "viewPolicySet"}}></button>
    </td>
</tr>
{{#if isViewMode }}
    <tr>
        <td colspan="3">
            {{xacml-policy-set-view policySet=policySet}}
        </td>
    </tr>
{{/if}}
