<div class="row form-group">
    <div class="form-horizontal col-md-12">
        <div class="form-group">
            <label class="col-sm-2 control-label">Descrition</label>
            <div class="col-sm-10">
                {{input value=policy.description class="form-control" placeholder="Description"}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Rule combining algorithm</label>
            <div class="col-sm-10">
                {{input value=policy.ruleCombiningAlgorithm class="form-control" placeholder="Rule combining algorithm"}}
            </div>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        {{#if policy.target }}
            {{xacml-target target=policy.target parent=policy}}
        {{ else }}
            <button type="button" class="btn btn-default" {{action "addTarget" policy}}><span
                    class="glyphicon glyphicon-plus"></span> Add Target
            </button>
        {{/if}}
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        {{#if policy.rules}}
            <div class="panel panel-default">
                <div class="panel-heading">Rules
                    <button type="button"
                            class="button btn btn-default btn-xs glyphicon glyphicon-remove pull-right" {{action "removeRules" policy}}></button>
                </div>
                <div class="panel-body">
                    {{xacml-rules-list rules=policy.rules parent=policy}}
                </div>
            </div>
        {{/if}}
        <div class="row">
            <div class="col-md-3">
            {{xacml-rules-select value=selectedRule}}
            </div>
            <div class="col-md-5">
            <button type="button" class="btn btn-default" {{action "addRule" policy}}><span
                    class="glyphicon glyphicon-plus"></span> Add Rule
            </button>
            </div>
        </div>
    </div>
</div>

