<div class="row form-group">
    <div class="form-horizontal col-md-12">
        <div class="form-group">
            <label class="col-sm-2 control-label">Descrition</label>
            <div class="col-sm-10">
                {{input value=policySet.description class="form-control" placeholder="Description"}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Policy combining algorithm</label>
            <div class="col-sm-10">
                {{input value=policySet.policyCombiningAlgorithm.description class="form-control" placeholder="Policy combining algorithm"}}
            </div>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        {{#if policySet.target }}
            {{xacml-target target=policySet.target parent=policySet}}
        {{ else }}
            <button type="button" class="btn btn-default" {{action "addTarget" policySet}}><span
                    class="glyphicon glyphicon-plus"></span> Add Target
            </button>
        {{/if}}
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        {{#if policySet.policySets}}
            <div class="panel panel-default">
                <div class="panel-heading">Policy Sets
                    <button type="button"
                            class="button btn btn-default btn-xs glyphicon glyphicon-remove pull-right" {{action "removePolicySets" policySet}}></button>
                </div>
                <div class="panel-body">
                    {{xacml-policy-set-list policySets=policySet.policySets parent=policySet}}
                </div>
            </div>
        {{/if}}
        <div class="row">
            <div class="col-md-3">
                {{xacml-policy-sets-select value=selectedPolicySet exclude=policySet}}
            </div>
            <div class="col-md-5">
                <button type="button" class="btn btn-default" {{action "addPolicySet" policySet}}><span
                        class="glyphicon glyphicon-plus"></span> Add Policy Set
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        {{#if policySet.policies}}
            <div class="panel panel-default">
                <div class="panel-heading">Policies
                    <button type="button"
                            class="button btn btn-default btn-xs glyphicon glyphicon-remove pull-right" {{action "removePolicies" policySet}}></button>
                </div>
                <div class="panel-body">
                    {{xacml-policy-list policies=policySet.policies parent=policySet}}
                </div>
            </div>
        {{/if}}
        <div class="row">
            <div class="col-md-3">
                {{xacml-policy-select value=selectedPolicy}}
            </div>
            <div class="col-md-5">
                <button type="button" class="btn btn-default" {{action "addPolicy" policySet}}><span
                        class="glyphicon glyphicon-plus"></span> Add Policy
                </button>
            </div>
        </div>
    </div>
</div>

